Node-RED/flowControlDebug.json
[
   {
      "id":"483763ba.54a8c4",
      "type":"tab",
      "label":"Control",
      "disabled":false,
      "info":"Administración robot autónomo móvil"
   },
   {
      "id":"85eb4784.4c1528",
      "type":"ibmiot in",
      "z":"483763ba.54a8c4",
      "authentication":"boundService",
      "apiKey":"",
      "inputType":"evt",
      "logicalInterface":"",
      "ruleId":"",
      "deviceId":"nodemcu_veh",
      "applicationId":"",
      "deviceType":"nodemcu",
      "eventType":"distancia",
      "commandType":"",
      "format":"json",
      "name":"IBM IoT - Distancia",
      "service":"registered",
      "allDevices":"",
      "allApplications":"",
      "allDeviceTypes":false,
      "allLogicalInterfaces":"",
      "allEvents":false,
      "allCommands":"",
      "allFormats":"",
      "qos":0,
      "x":109,
      "y":29,
      "wires":[
         [
            "1583bdce.96629a",
            "43a78fdd.0b24f8"
         ]
      ]
   },
   {
      "id":"43a78fdd.0b24f8",
      "type":"function",
      "z":"483763ba.54a8c4",
      "name":"ProcesarDistancia",
      "func":"var distanciaMinima = flow.get(\"distanciaMinima\") || 0;\nvar distancia = 0;\n\nif (distanciaMinima > 0){\n    if (msg.payload.d !== undefined){\n        distancia = msg.payload.d.distancia;\n    }\n}\n\nreturn {\"payload\":distancia};",
      "outputs":1,
      "noerr":0,
      "x":427,
      "y":84,
      "wires":[
         [
            "827f65ae.a7fb"
         ]
      ]
   },
   {
      "id":"82435272.291528",
      "type":"inject",
      "z":"483763ba.54a8c4",
      "name":"Avanzar",
      "topic":"",
      "payload":"{\"avanzar\":50}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":126,
      "y":254,
      "wires":[
         [
            "51b0ccc8.f6350c"
         ]
      ]
   },
   {
      "id":"51b0ccc8.f6350c",
      "type":"ibmiot out",
      "z":"483763ba.54a8c4",
      "authentication":"boundService",
      "apiKey":"",
      "outputType":"cmd",
      "deviceId":"nodemcu_veh",
      "deviceType":"nodemcu",
      "eventCommandType":"control",
      "format":"json",
      "data":"{}",
      "qos":0,
      "name":"IBM IoT - Control",
      "service":"registered",
      "x":618,
      "y":294,
      "wires":[

      ]
   },
   {
      "id":"96c808fa.94a7e",
      "type":"inject",
      "z":"483763ba.54a8c4",
      "name":"Detener",
      "topic":"control",
      "payload":"{\"detener\":0}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":126,
      "y":288,
      "wires":[
         [
            "51b0ccc8.f6350c"
         ]
      ]
   },
   {
      "id":"aa6af1cd.f210e",
      "type":"inject",
      "z":"483763ba.54a8c4",
      "name":"Retroceder",
      "topic":"control",
      "payload":"{\"retroceder\":80}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":116,
      "y":322,
      "wires":[
         [
            "51b0ccc8.f6350c"
         ]
      ]
   },
   {
      "id":"6874971e.752878",
      "type":"inject",
      "z":"483763ba.54a8c4",
      "name":"Girar Izq",
      "topic":"control",
      "payload":"{\"girarIzquierda\":50}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":125,
      "y":356,
      "wires":[
         [
            "51b0ccc8.f6350c"
         ]
      ]
   },
   {
      "id":"9c0a7569.a5fdd",
      "type":"inject",
      "z":"483763ba.54a8c4",
      "name":"Automatico",
      "topic":"control",
      "payload":"{\"cambiarModo\":1}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":124,
      "y":424,
      "wires":[
         [
            "51b0ccc8.f6350c"
         ]
      ]
   },
   {
      "id":"e6d23abe.c4a9d8",
      "type":"inject",
      "z":"483763ba.54a8c4",
      "name":"Manual",
      "topic":"control",
      "payload":"{\"cambiarModo\":0}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":134,
      "y":458,
      "wires":[
         [
            "51b0ccc8.f6350c"
         ]
      ]
   },
   {
      "id":"827f65ae.a7fb",
      "type":"switch",
      "z":"483763ba.54a8c4",
      "name":"Choca",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"gt",
            "v":"distanciaMinima",
            "vt":"flow"
         },
         {
            "t":"btwn",
            "v":"1",
            "vt":"num",
            "v2":"distanciaMinima",
            "v2t":"flow"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":434,
      "y":130,
      "wires":[
         [
            "55afa0e0.a66978"
         ],
         [
            "3e5884a5.aa16b4"
         ]
      ]
   },
   {
      "id":"3e5884a5.aa16b4",
      "type":"function",
      "z":"483763ba.54a8c4",
      "name":"Esquivar",
      "func":"msg.payload = {};\nmsg.payload.cambiarModo = 0;\nmsg.payload.retroceder = 50;\nmsg.payload.girarDerecha = 70;\nmsg.payload.delay=1;\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":437.5,
      "y":187.5,
      "wires":[
         [
            "51b0ccc8.f6350c"
         ]
      ]
   },
   {
      "id":"55afa0e0.a66978",
      "type":"function",
      "z":"483763ba.54a8c4",
      "name":"Avanzar",
      "func":"msg.payload = {};\nmsg.payload.cambiarModo = 0;\nmsg.payload.delay = 1;\nmsg.payload.detener = 0;\nmsg.payload.delay = 1;\nmsg.payload.cambiarModo = 1;\nmsg.payload.delay = 2\nmsg.payload.avanzar = 30;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":613.6665649414062,
      "y":196.16665649414062,
      "wires":[
         [
            "51b0ccc8.f6350c"
         ]
      ]
   },
   {
      "id":"eb2d94dc.1f202",
      "type":"inject",
      "z":"483763ba.54a8c4",
      "name":"Distancia",
      "topic":"",
      "payload":"{\"distancia\":20}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":126,
      "y":220,
      "wires":[
         [
            "51b0ccc8.f6350c",
            "84e3fd5.e302f"
         ]
      ]
   },
   {
      "id":"84e3fd5.e302f",
      "type":"function",
      "z":"483763ba.54a8c4",
      "name":"DistanciaMinima",
      "func":"flow.set(\"distanciaMinima\", msg.payload.distancia);\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":120,
      "y":139,
      "wires":[
         [
            "51b0ccc8.f6350c"
         ]
      ]
   },
   {
      "id":"8eca4bd3.34c97",
      "type":"inject",
      "z":"483763ba.54a8c4",
      "name":"Delay",
      "topic":"control",
      "payload":"{\"delay\":10}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":134,
      "y":492,
      "wires":[
         [
            "51b0ccc8.f6350c"
         ]
      ]
   },
   {
      "id":"e3a08454.db34b8",
      "type":"inject",
      "z":"483763ba.54a8c4",
      "name":"Reset",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":true,
      "onceDelay":0.1,
      "x":613,
      "y":358,
      "wires":[
         [
            "2f6dd38f.3c8b7c"
         ]
      ]
   },
   {
      "id":"2f6dd38f.3c8b7c",
      "type":"function",
      "z":"483763ba.54a8c4",
      "name":"SetDistanciaMinima",
      "func":"flow.set(\"distanciaMinima\", 0);\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":615,
      "y":425,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"744a9490.66d62c",
      "type":"inject",
      "z":"483763ba.54a8c4",
      "name":"Girar Der",
      "topic":"control",
      "payload":"{\"girarDerecha\":50}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":124,
      "y":390,
      "wires":[
         [
            "51b0ccc8.f6350c"
         ]
      ]
   },
   {
      "id":"1583bdce.96629a",
      "type":"debug",
      "z":"483763ba.54a8c4",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "x":654.5,
      "y":52,
      "wires":[

      ]
   }
]